<!DOCTYPE html>
<html>
<head>
    <title>Update Order Status</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">



    <style>
        #d1{
        background-color:#000000;
        height:85px;
        padding-top:15px;
        padding-left:40px;
        display:flex;
        }
           #b4{

margin-left:-10px;
    height: 40px;
    border-radius: 22px;
    background:transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
   }
        </style>
</head>

<body>
<div id="d1" class="container-fluid text-white">
    <ul style="display:flex; list-style:none;">
        <li><h2>UPDATE </h2></li>
<!--        <li style="margin-left:800px;"><a style="color:#fff;font-size:30px;" href="{% url 'admin_orders' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>-->
         <li style="margin-left:1000px;"> <a href="{% url 'admin_orders' %}"><button id="b4"><i class="fas fa-arrow-left"></i></button></a>
    </ul>

    </div>

<center><h3>Update Order Status - Order #{{ order.id }}</h3>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label>Select New Status</label>
        <select name="status" class="form-control">
            <option value="on the way" {% if order.status == "on the way" %}selected{% endif %}>On the Way</option>
            <option value="delivered" {% if order.status == "delivered" %}selected{% endif %}>Delivered</option>
            <option value="cancelled" {% if order.status == "cancelled" %}selected{% endif %}>Cancelled</option>
            <option value="returned" {% if order.status == "returned" %}selected{% endif %}>Returned</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Update Status</button>
    <a href="{% url 'admin_orders' %}" class="btn btn-secondary">Back</a>
</form>
</center>
</body>
</html>